[Desktop Entry]
Type=Application
Name=Pi Fotobox
Comment=Startet die Fotobox-Oberfläche nach dem Hochfahren
Exec=/home/scoop1337/pi-fotobox/pi/start-fotobox.sh
Terminal=false
